@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

html, body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Inter, "sans-serif";
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  background-color: #0E0E0E;
  background-image: url("./images/header-background-img.png");
  background-repeat: no-repeat;
  height: 208px;
  width: 750px;
}

h1 {
  padding: 0;
  margin: 0;
  font-size: 42px;
}

.nav-link {
  margin-top: 7.5px;
  display: block;
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}


/* Main (search bar & movie display */

main {
  width: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#search-bar {
  position: relative;
}

#search-bar, #sort-container {
  height: 38px;
  width: 550px;
  margin-top: -19px;
  align-self: center;
  background-color: white;
  border: 0.5px solid lightgray;
  border-radius: 5px;
  margin-bottom: 35px;
  justify-content: space-between;
}

input:-webkit-autofill {
  box-shadow: 0 0 0 1000px white inset !important;
  -webkit-text-fill-color: black !important;
  caret-color: black;
}

#sort-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 10px;
}

#sort-container label {
  font-family: Inter, "sans-serif";
  font-size: 14px;
  margin: auto;
}

#sort-menu {
  font-family: Inter, "sans-serif";
  height: 100%;
  width: 50%;
  text-align: center;
  border: none;
  border-left: 1px solid #D1D5DB;

}

#sort-menu {
  outline: none;
  box-shadow: none;
  border-color: inherit;
}

#search-form, #sort-form {
  height: 100%;
  display: flex;
}

#search-icon {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  pointer-events: none;
}

#search-input, #search-btn {
  font-family: Inter, "sans-serif";
  border: none;
  background-color: transparent;
}

#search-input {
  width: 100%;
  padding-left: 3rem;
}

#search-btn {
  margin-left: auto;
  width: 180px;
  border-left: 1px solid #D1D5DB;
}

#search-btn:hover {
  cursor: pointer;
  background-color: rgb(228, 228, 228);
}

.loading, .before-search, .no-results-container {
  margin-top: -30px;
  align-self: center;
  align-content: center;
  text-align: center;
  min-height: 500px;

  font-size: 18px;
  font-weight: bold;
  color: #DFDDDD;
}

.loading, .before-search p {
  margin-top: 5px;
}

/* (Main) Display movies */
#movies-container {
  width: 550px;
}

.message-container {
  margin-top: -30px;
  align-self: center;
  align-content: center;
  text-align: center;
  min-height: 500px;

  font-size: 18px;
  font-weight: bold;
  color: #DFDDDD;
}

.movie-el {
  font-family: Inter, "sans-serif";
  width: 100%;
  height: 250px;
  display: flex;
  margin-bottom: 22px;
  text-overflow: ellipsis;
  padding-bottom: 20px;
  border-bottom: 1px solid #E5E7EB;
}

.title-and-rating-container {
  margin-top: 17.5px;
  margin-bottom: 5px;
}

.title-and-rating-container, .runtime-genres-and-add-btn-container {
  display: flex;
  height: auto;
  gap: 10px;
}

.runtime-genres-and-add-btn-container {
  align-items: center;
  margin-bottom: 0px;
  justify-content: space-between;
  width: 85%;
}

.add-to-watchlist-container, .remove-from-watchlist-container, .disabled-watchlist-container {
  display: flex;
  margin-left: 20px;
  align-items: center;
  width: 70px;
  justify-content: space-between;
}

.add-to-watchlist-container:hover, .remove-from-watchlist-container:hover {
  cursor: pointer;
}

.disabled-watchlist-container:hover {
  cursor: not-allowed;
}

.movie-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  padding: 0;
  margin: 0;
}

.go-search-link {
  text-decoration: none;
  color: black;
}

.movie-rating-icon {
  color: #FEC654;
  margin-left: 5px;
  margin-right: -5px;
}

.movie-rating {
  font-size: 12px;
  font-weight: 300;
  line-height: 12px;
  padding: 0;
  margin: 0;
  padding-top: 2px;
}

.icon-container, .disabled-icon-container {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  font-size: 12px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  font-weight: 800;
}

.disabled-icon-container {
  background-color: gray;
}


.movie-runtime, .movie-genres, .add-or-remove-btn {
  font-size: 12px;
  font-weight: 300;
}

.disabled-add-button {
  color: gray;
}

.movie-genres {
  margin-left: 5px;
}

.movie-poster {
  width: 150px;
  margin-right: 20px;
  border-radius: 5px;
}

.missing-movie-poster {
  display: flex;
  width: 150px;
  height: 225px; /* match expected image height */
  margin-right: 20px;
  border-radius: 5px;
  flex-shrink: 0;
  color: red;
  justify-content: center; 
  align-items: center;
}
.movie-plot {
  font-weight: 300;
  line-height: 1.5;
  margin-top: 0px;
  font-size: 13px;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #6B7280;
}


/* Mobile / very small screens */
@media (max-width: 767px) {
  header {
    height: 175px;
    width: 100%;
  }
  
  
  /* Main (search bar & movie display */
  main {
    width: 75%;
  }
  
  #search-bar, #sort-container {
    height: 38px;
    width: 100%;
  }
  
  .loading, .before-search, .no-results-container {
    margin-top: 100px;
    align-content: start;
  }

  /* Movies */
  #movies-container {
    width: 100%;
  }

  .movie-el {
    height: 175px;
  }
  
  .title-and-rating-container, .runtime-genres-and-add-btn-container {
    justify-content: space-between;
    width: 100%;
    gap: 7.5px;
  }
  
  .add-to-watchlist-container, .remove-from-watchlist-container {
    margin-left: 0px;
  }
  
  .movie-title {
    font-size: 14px;
    line-height: 15px;
  }

  .movie-rating-icon {
    margin-left: auto;
    margin-right: 1px;
  }
  
  .movie-runtime, .movie-genres, .add-or-remove-btn {
    font-size: 12px;
    font-weight: 300;
  }

  .movie-genres {
    margin-left: 5px;
  }
  
  .movie-poster {
    width: 95px;
    margin-top: 15px;
  }
  
  .missing-movie-poster {
    width: 95px;
    margin-top: 15px;
  }

  .movie-plot {
    -webkit-line-clamp: 3;
  }

  .icon-container {
    margin-right: 5px;
  }
}